@import "coolvetica.css";

:root {
  --white: #f2f2f0;
  --muted-green: #abc7aa;
  --muted-blue: #7597ae;
  --dark: #23213d;

  --bs-body-bg: var(--muted-green);
  --bs-body-color: white;
  --bs-bg-dark: var(--dark);
  --bs-dark-rgb: 35, 33, 61;
  --bs-nav-link-color: var(--white);

  --checker-size: 5rem;
}

body {
  font-family: "Coolvetica", sans-serif;
  font-size: 1.5em;
}

/* For the non-visually impaired, the h1 is not needed.
* This preserves the h1 for screen reader purposes */
h1 {
  font-size: 0px;
}

.home {
  background-image: url("../assets/light-checkerboard.svg");
  background-repeat: repeat;
  background-size: var(--checker-size);
  animation: moveBackground 8s linear infinite;
}

.relative {
  position: relative;
}

.portrait {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75vw;
  height: auto;
}

.pixel-art {
  image-rendering: pixelated; /* Most modern browsers */
  image-rendering: crisp-edges; /* Fallback for some browsers */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: optimize-contrast; /* Legacy */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}

/* Animate background to move down and right forever */
@keyframes moveBackground {
  0% {
    background-position: var(--checker-size) calc(-1 * var(--checker-size));
  }
  100% {
    background-position: 0 0;
  }
}

@media (min-width: 767px) {
  .portrait {
    width: auto;
    height: 75%;
  }
}

/* Overridable Bootstrap Variables
--bs-body-color
--bs-body-bg
--bs-emphasis-color
--bs-border-color

--bs-primary-color
--bs-primary-bg-subtle
--bs-primary-border-subtle

--bs-secondary-color
--bs-secondary-bg

--bs-tertiary-color
--bs-tertiary-bg

--bs-success-color
--bs-success-bg-subtle
--bs-success-border-subtle
--bs-succces-text-emphasis

--bs-danger-color
--bs-danger-bg-subtle
--bs-danger-border-subtle
--bs-danger-text-emphasis

--bs-warning-color
--bs-warning-bg-subtle
--bs-warning-border-subtle
--bs-warning-text-emphasis

--bs-info-color
--bs-info-bg-subtle
--bs-info-border-subtle
--bs-info-text-emphasis

--bs-light-color
--bs-light-bg
--bs-light-border-subtle
--bs-light-text-emphasis

--bs-dark-color
--bs-dark-bg
--bs-dark-border-subtle
--bs-dark-text-emphasis
*/
