@import "coolvetica.css";

:root {
  --white: #f2f2f0;
  --muted-green: #abc7aa;
  --muted-blue: #7597ae;
  --dark: #23213d;
  --mid-grey: #76747d;
  --light-grey: #b9b5c3;
  --screen-beige: #d7d4cc;
  --screen-dark: #322f29;

  --bs-body-bg: var(--dark);
  --bs-body-color: white;
  --bs-bg-dark: var(--dark);
  --bs-dark-rgb: 35, 33, 61;
  --bs-nav-link-color: var(--white);

  --bs-light-bg: var(--muted-blue);
  --bs-light-color: var(--screen-beige);

  --checker-size: 5rem;
}

body {
  font-family: "Coolvetica", sans-serif;
  font-size: 1.5em;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* For the non-visually impaired, the h1 is not needed.
* This preserves the h1 for screen reader purposes */
h1 {
  font-size: 0px;
}

h2 {
  font-weight: 500;
}

.home,
.contact {
  background-image: url("../assets/light-checkerboard.svg");
  background-repeat: repeat;
  background-size: var(--checker-size);
  animation: moveBackground 8s linear infinite;
}

.previous-work {
  color: var(--screen-dark);
  background-color: var(--screen-beige);
}

.about,
.projects {
  background-image: url("../assets/purple-checkerboard.svg");
  background-repeat: repeat;
  background-size: var(--checker-size);
  animation: moveBackground 8s reverse linear infinite;
}

.jiggle-hover:hover {
  animation: jiggle 0.5s;
}

.relative {
  position: relative;
}

.portrait {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: auto;
}

.logo-container {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  max-width: 100vw;
}

.floating-logo {
  width: 75vw;
  animation: rotate 5s infinite;
}

.vertical-logo {
  display: block;
}

.horizontal-logo {
  display: none;
}

.pixel-art {
  image-rendering: pixelated; /* Most modern browsers */
  image-rendering: crisp-edges; /* Fallback for some browsers */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: optimize-contrast; /* Legacy */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}

.seperator {
  background-image: url("../assets/border-grey.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  margin: 0 auto;
  height: 16px;

}

/* Animate background to move down and right forever */
@keyframes moveBackground {
  0% {
    background-position: var(--checker-size) calc(-1 * var(--checker-size));
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Rotate back and forth left and right */
@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media (min-width: 767px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .portrait {
    height: 50vh;
    width: auto;
  }

  .logo-container {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .vertical-logo {
    display: none;
  }

  .horizontal-logo {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Overridable Bootstrap Variables
--bs-body-color
--bs-body-bg
--bs-emphasis-color
--bs-border-color

--bs-primary-color
--bs-primary-bg-subtle
--bs-primary-border-subtle

--bs-secondary-color
--bs-secondary-bg

--bs-tertiary-color
--bs-tertiary-bg

--bs-success-color
--bs-success-bg-subtle
--bs-success-border-subtle
--bs-succces-text-emphasis

--bs-danger-color
--bs-danger-bg-subtle
--bs-danger-border-subtle
--bs-danger-text-emphasis

--bs-warning-color
--bs-warning-bg-subtle
--bs-warning-border-subtle
--bs-warning-text-emphasis

--bs-info-color
--bs-info-bg-subtle
--bs-info-border-subtle
--bs-info-text-emphasis

--bs-light-color
--bs-light-bg
--bs-light-border-subtle
--bs-light-text-emphasis

--bs-dark-color
--bs-dark-bg
--bs-dark-border-subtle
--bs-dark-text-emphasis
*/
