@import "coolvetica.css";
@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --white: #f2f2f0;
  --muted-green: #abc7aa;
  --muted-blue: #7597ae;
  --dark: #23213d;
  --mid-grey: #76747d;
  --light-grey: #b9b5c3;
  --screen-beige: #d7d4cc;
  --screen-dark: #322f29;

  --bs-body-bg: var(--dark);
  --bs-body-color: white;
  --bs-bg-dark: var(--dark);
  --bs-dark-rgb: 35, 33, 61;
  --bs-nav-link-color: var(--white);

  --bs-light-bg: var(--muted-blue);
  --bs-light-color: var(--screen-beige);

  --bs-primary-color: var(--muted-green);
  --bs-primary-bg-subtle: var(--muted-blue);
  --bs-primary-border-subtle: var(--muted-green);

  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--muted-green);

  --checker-size: 5rem;
}

/* Fonts */
.silkscreen {
  font-family: "Silkscreen", sans-serif;
}

.coolvetica {
  font-family: "Coolvetica", sans-serif;
}

.garamond {
  font-family: "EB Garamond", serif;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* This preserves the h1 for screen reader purposes */
/* The images/jumbotron acts like a h1 for the visual user */
h1 {
  font-size: 0px;
}

h2,
.nav-link,
.btn-primary {
  font-family: "Coolvetica", sans-serif;
  font-weight: 500;
}

.section-top {
  scroll-margin-top: 4.5rem;
}

.home,
.contact {
  background-image: url("../assets/light-checkerboard.svg");
  background-repeat: repeat;
  background-size: var(--checker-size);
  animation: moveBackground 8s linear infinite;
}

.portrait {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: auto;
  filter: drop-shadow(0px 0px 20px rgba(35, 33, 61, 1));
}

.logo-container {
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  max-width: 100vw;
}

.floating-logo {
  width: 75vw;
  animation: rock 5s infinite;
}

.vertical-logo {
  display: block;
}

.horizontal-logo {
  display: none;
}

.about,
.projects {
  background-image: url("../assets/purple-checkerboard.svg");
  background-repeat: repeat;
  background-size: var(--checker-size);
  animation: moveBackground 8s reverse linear infinite;
}

.about-heading,
.contact-heading {
  font-size: 1.5em;
  margin-bottom: -1.5rem;
  z-index: 1000;
}

.about-p {
  font-size: 1.25em;
  margin-bottom: 0.5rem;
}

.previous-work {
  color: var(--screen-dark);
  background-color: var(--screen-beige);
  font-size: 1.2rem;
}

.projects-heading {
  text-align: center;
}

.work-li {
  margin-left: 2rem;
  padding: 0;
}

/* Helpers */
.pixel-art {
  image-rendering: pixelated; /* Most modern browsers */
  image-rendering: crisp-edges; /* Fallback for some browsers */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: optimize-contrast; /* Legacy */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
}

/* Seperates the sections with a drop shadow. */
/* Makes the sections look like they are floating */
.drop-shadow {
  background-image: url("../assets/shadow-seperator.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  margin: 0 auto;
  height: 16px;
}

/* Creates a box that looks like a video game text box */
/* Heavily inspired by Earthbound, 'OKESKA' is a sound effect from the game */
.okeska {
  background-color: var(--dark);
  border-radius: 0.5rem;
  border: 5px solid var(--mid-grey);
  outline: 3px solid var(--white);
  box-shadow: 0 0 0 6px var(--dark);
}

.okeska h2,
.okeska h3 {
  /* Silkscreen font */
  display: block;
  margin: 0;
  font-size: 1em;
  z-index: 1000;
}

.okeska h3 {
  font-size: 0.75em;
  margin-top: -1rem;
  margin-left: 1rem;
}

/* Puts a background behind the text for the headers on the okeska blocks */
/* This recreated the look of the title being on top of the border of a text box */
.heading-bg-dark {
  padding: 0 0.25rem;
  background-color: var(--dark);
}

.btn-primary {
  background-color: #7597ae !important;
  color: #23213d !important;
  border-color: #7597ae !important;
}

.btn-primary:hover {
  filter: brightness(1.1);
  transition: 0.5s;
}

.socials {
  display: inline-block;
  color: var(--muted-green) !important;
  text-decoration: none !important;
}

.socials:hover {
  filter: brightness(1.1);
  animation: jiggle 0.5s;
}

/* Needed this specifically for the 'contact' header to be in the right */
/* position on top of the box. Tested for all sizes and it seems to work */
.offset-left {
  margin-left: -12rem;
}

.max-400 {
  display: block;
  min-width: 10px;
  max-width: 400px;
}

.jiggle-hover:hover {
  animation: jiggle 0.5s;
}

.relative {
  position: relative;
}

.max-vh {
  max-height: 100vh;
  min-height: -webkit-fill-available;
}

/* I wanted the bullet points to go away from my previous work section. */
/* This helper class does that, and could be useful in the future */
.hide-sm {
  display: none;
}

/* Animate background to move down and right forever */
@keyframes moveBackground {
  0% {
    background-position: var(--checker-size) calc(-1 * var(--checker-size));
  }
  100% {
    background-position: 0 0;
  }
}

/* Jiggle back and forth */
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Rock back and forth left and right */
@keyframes rock {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media (min-width: 767px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .portrait {
    height: 50vh;
    width: auto;
  }

  .logo-container {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .vertical-logo {
    display: none;
  }

  .horizontal-logo {
    display: block;
  }

  /* This brings back the bullet points for the previous work section */
  .hide-sm {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
